
/* Todo: add styles */
h1 {
    text-align: center;
    font-style: italic;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 40px;
    font-weight: 900;
  }
.description{
    background-image: linear-gradient(to top, rgb(237, 242, 243),rgb(217, 240, 247));
    height: 65px;
    }
text.displayXlabel
{
    font-size: 11px;
}
text.displayYlabel
{
    font-size: 11px;
}
.legend-title
{
    font-size: 11px;
}
.pieLegendText
{
    font-size: 11px;
    dominant-baseline: central;
}
.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
.axis-title
{
    font-size: 11px;
    font-weight: bold;
}

line.avg
{
    stroke: darkblue;
    stroke-width: 2;
}

line.max
{
    stroke: darkblue;
    stroke-width: 2;
}

line.min
{
    stroke: darkblue;
    stroke-width: 2;
}

rect:hover {
    stroke: rgb(7, 163, 184);
    stroke-width: 2;
}


path.churnedViolin
{
    fill: orange;
    stroke: none;
    fill-opacity: 70%;
}

path.unchurnedViolin
{
    fill: orange;
    stroke: none;
    fill-opacity: 70%;
}


path.pie.active
{
    fill-opacity: 100%;
}

path.pie
{
    fill-opacity: 40%;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.point
{
    fill: #696969;
    fill-opacity: 0.15;
}

.legend-btn {
    stroke-width: 0.5;
    fill: orangered;
}

.legend-text {
    font-size: 10px;
    fill: orangered;
}

/* inactive state */
.inactive {
    fill: grey;
}


